[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme
[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme.git
